.normal-icon {
  font-size: 20px;
}

.large-icon {
  font-size: 50px;
}

.column-temp {
  width: 150px;
}

.column-icon {
  width: 100px;
}

.column-date {
  width: 300px;
}

.icon-current-weather {
  height: 100px;
  padding-top: 25px;
}

.temp-current-weather {
  height: 50px;
}
