<div>
  <div class="icon-current-weather">
    <span [className]="getCurrentWeatherIconClasses()"></span>
  </div>
  <div class="temp-current-weather">
    <span>{{getCurrentWeatherTemp()}} °</span>
  </div>
  <div>
    <table mat-table [dataSource]="dataSourceTableForecastWeather" class="mat-elevation-z8">

      <!-- Date Column -->
      <ng-container matColumnDef="jour">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="column-date"> {{getForecastWeatherDate(element) | date : 'EEE dd LLL yyyy (HH\'h\')'}}</td>
      </ng-container>

      <!-- Icon Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="column-icon"> <span [className]="getForecastWeatherIconClasses(element)"></span></td>
      </ng-container>

      <!-- Temp Min Column -->
      <ng-container matColumnDef="tempMin">
        <th mat-header-cell *matHeaderCellDef> Température Minimun </th>
        <td mat-cell *matCellDef="let element" class="column-temp"> {{getForecastWeatherTempMin(element)}} ° </td>
      </ng-container>

      <!-- Temp Max Column -->
      <ng-container matColumnDef="tempMax">
        <th mat-header-cell *matHeaderCellDef> Température Maximum </th>
        <td mat-cell *matCellDef="let element" class="column-temp"> {{getForecastWeatherTempMax(element)}} ° </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<app-progress-spinner class="example-margin" [color]="colorSpinner" [mode]="modeSpinner" [value]="value" [backdropEnabled]="true" [positionGloballyCenter]="true"
                      [displayProgressSpinner]="displayProgressSpinner">
</app-progress-spinner>
