<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <span>My Weather App</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="login-card">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <mat-select [(ngModel)]="currentCity">
      <mat-option *ngFor="let city of cities" [value]="city">
        {{city.name}}
      </mat-option>
    </mat-select>
    <mat-divider></mat-divider>
    <app-detail-weather [city]="currentCity"></app-detail-weather>
  </mat-card-content>
</mat-card>
