@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*!
 *  Weather Icons 1.3
 *  Updated November 30th, 2014
 *  Weather themed icons for Bootstrap
 *  ------------------------------------------------------------------------------
* Maintained at http://erikflowers.github.io/weather-icons
 *  http://twitter.com/Erik_UX
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - Fpmt licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - CSS and LESS are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Inspired by and works great as a companion with Font Awesome
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Weather Icons Bootstrap Package Author - Erik Flowers - erik@helloerik.com
 *  ------------------------------------------------------------------------------
 *  Email: erik@helloerik.com
 *  Twitter: http://twitter.com/Erik_UX
 */
@font-face {
  font-family: 'weathericons';
  src: url('/assets/fonts/weathericons-regular-webfont.eot');
  src: url('/assets/fonts/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/weathericons-regular-webfont.woff') format('woff'), url('/assets/fonts/weathericons-regular-webfont.ttf') format('truetype'), url('/assets/fonts/weathericons-regular-webfont.svg#weathericons-regular-webfontRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wi {
  display: inline-block;
  font-family: 'weathericons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -----Thunder----- */

.wi-icon-200::before,
.wi-icon-201::before,
.wi-icon-210::before,
.wi-icon-211::before,
.wi-icon-212::before,
.wi-icon-221::before,
.wi-icon-230::before,
.wi-icon-231::before,
.wi-icon-232::before  {
  content: "\f01d";
}

/* -----Sun----- */

.wi-icon-800::before {
  content: "\f00d";
}

.wi-icon-801::before {
  content: "\f00c";
}

/* -----Drizzle----- */
.wi-icon-300::before,
.wi-icon-301::before,
.wi-icon-302::before,
.wi-icon-310::before,
.wi-icon-311::before,
.wi-icon-312::before {
  content: "\f017";
}

.wi-icon-313::before,
.wi-icon-314::before,
.wi-icon-321::before  {
  content: "\f017";
}

/* -----Hail----- */

.wi-icon-906::before {
  content: "\f015";
}

/* -----Showers----- */
.wi-icon-500::before,
.wi-icon-521::before,
.wi-icon-522::before,
.wi-icon-531::before  {
  content: "\f01a";
}

/* -----Rainy----- */

.wi-icon-501::before,
.wi-icon-502::before,
.wi-icon-503::before,
.wi-icon-511::before,
.wi-icon-520::before {
  content: "\f019";
}

/* -----Snowy----- */

.wi-icon-600::before,
.wi-icon-601::before,
.wi-icon-611::before,
.wi-icon-612::before,
.wi-icon-615::before,
.wi-icon-616::before,
.wi-icon-620::before,
.wi-icon-621::before,
.wi-icon-622::before  {
  content: "\f064";
}

/* -----Frosty----- */

.wi-icon-903::before {
  content: "\f076";
}

/* -----Windy----- */

.wi-icon-905::before  {
  content: "\f011";
}

/* -----WindyRain----- */

.wi-icon-504::before {
  content: "\f018";
}

/* -----WindySnow----- */

.wi-icon-602::before {
  content: "\f064";
}

/* -----Sleet----- */

.wi-icon-611::before  {
  content: "\f0b5";
}

/* -----Mist----- */

.wi-icon-701:before  {
  content: "\f014";
}

/* -----Cloud----- */

.wi-icon-802::before,
.wi-icon-803::before,
.wi-icon-804::before {
  content: "\f011";
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flexcontainer {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

